@{
    ViewBag.Title = "Imagine";
}

@model Imagine.Models.TasksViewModel

@if (User.Identity.IsAuthenticated)
{
    <div ng-controller="taskController" ng-init="Init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
        <br />
        <br />
        <div class="row">

            @*Add Task*@
            <div class="col-md-8">
                <h1>Add Task</h1><br />
                <form id="testForm">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-disabled="ShowAdvanced" ng-model="TaskName" autofocus placeholder="Enter task name" />
                    </div>

                    @*Knapp för add*@
                    <input type="submit" ng-click="AddTask()" ng-hide="ShowAdvanced" class="btn btn-success" value="Pending" />
                    <input type="submit" ng-click="AddEvent()" ng-hide="ShowAdvanced" class="btn btn-warning" value="Event" />
                    <input type="submit" ng-click="AddOnTheGo()" ng-hide="ShowAdvanced" class="btn btn-primary disabled" value="On the go" />

                </form>

                <div ng-show="ShowAdvanced">
                    <table width="330">
                        <tr>
                            <td>
                                <label>
                                    Duration
                                    <input type="text" ng-model="Duration" placeholder="Time in hours" />
                                </label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="btn btn-warning" ng-model="ShowRecurring" value="Recurring" />Recurring
                                    </label>
                                </div>
                            </td>
                            <td>
                                <input type="submit" ng-click="AddRecurringTask()" value="Add" class="btn btn-warning" />
                            </td>
                        </tr>
                    </table>
                    <div ng-show="TimeBased || !ShowRecurring">
                        <br />
                        <label>
                            Date
                            <input type="date" ng-model="Date" />
                        </label>
                        <label>
                            Time
                            <input type="time" ng-model="Time" />
                        </label>
                    </div>
                    <div ng-hide="TimeBased || !ShowRecurring">
                        <br />
                        <label>
                            Frequency
                            <input type="text" placeholder="Frequency" ng-model="Frequency" />
                        </label>
                    </div>
                    <div ng-show="ShowRecurring">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="btn btn-warning" ng-model="TimeBased" value="TimeBased" />Time based
                            </label>
                        </div>
                        <br />
                        <label class="radio-inline">
                            <input type="radio" ng-model="Period"  name="recurrenceOption" value="Day" />Daily
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="Period" name="recurrenceOption" value="WorkDay" />Work day
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="Period" name="recurrenceOption" value="Week" />Weekly
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="Period" name="recurrenceOption" value="Month" />Monthly
                        </label>
                        <h4 ng-hide="TimeBased">Event will occur {{Frequency}} times each {{Period}}</h4>
                        <h4 ng-show="TimeBased">Event will occur on {{Date}} each {{Period}}</h4>
                    </div>
                </div>
            </div>
            @*Schedule*@
            <div class="col-md-4">
                <h1>Schedule</h1><br />
                <label>From</label>
                <input type="date" ng-model="From" min="@DateTime.Today.ToShortDateString()" value="@DateTime.Today.ToShortDateString()" />
                <br />
                <br />
                <label>To</label>
                <input type="date" ng-model="To" min="@DateTime.Today.AddDays(1).ToShortDateString()" value="@DateTime.Today.AddDays(7).ToShortDateString()" />
                <br />
                <br />
                <input type="submit" ng-click="GenerateSchedule()" class="btn btn-primary btn-lg" value="Make my schedule" />

            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="row">

            @*Loopar ut tasks*@
            <div class="col-md-8">
                <h1>All Tasks</h1>
                <br />
                <table class="table table-hover" style="background-color:white;width:350px">
                    <tr ng-repeat="task in tasks">
                        <td>
                            {{task.Name}}
                        </td>
                        <td align="right">
                            {{task.Type}}
                        </td>
                        <td align="right" valign="middle">
                            <input type="submit" ng-click="EditTask(task, $index)" class="btn btn-xs btn-primary" value="Edit" />
                            <input type="submit" ng-click="RemoveTask(task, $index)" class="btn btn-xs btn-danger" value="Remove" />
                        </td>
                    </tr>
                </table>
            </div>

            @*My Schedule*@
            <div class="col-md-4">
                <h1>My Schedule</h1>
                <table class="table table-striped" style="background-color:white; width:300px">
                    @foreach (var scheduledTask in Model.ScheduledTasks)
                    {
                        <tr>
                            <td>
                                <h4>@scheduledTask.Date.ToShortDateString() - @scheduledTask.Date.DayOfWeek</h4>
                                @foreach (var task in scheduledTask.Tasks)
                                {
                                    <table width="350">
                                        <tr>
                                            <td>
                                                <p>@task.Name - @task.Hours h</p>
                                            </td>
                                            <td align="right">
                                                <input type="button" ng-click="CompleteTask(scheduledTask)" value="Complete" class="btn btn-xs btn-success" />
                                                <input type="button" ng-click="Lock(scheduledTask)" value="Lock" class="btn btn-xs btn-default" />
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}
else
{
    <br />
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    <br />
    <br />
    <br />
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}