@{
    ViewBag.Title = "Imagine";
}

@model Imagine.Models.TasksViewModel

@if (User.Identity.IsAuthenticated)
{
    <div ng-controller="taskController" ng-init="Init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
        <div class="row">
            <div class="col-sm-7">
                <br /><h1>Add Task</h1><br />

                @*Input*@
                <form class="form-horizontal">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-disabled="ShowAdvanced" ng-model="TaskName" autofocus placeholder="Enter task name" />
                    </div>
                </form>
                @*Knapp för add*@
                <input type="submit" ng-click="AddTask()" ng-hide="ShowAdvanced" class="btn btn-success" value="Pending" />
                <input type="submit" ng-click="AddEvent()" ng-hide="ShowAdvanced" class="btn btn-warning" value="Event" />
                <input type="submit" ng-click="AddPending()" ng-hide="ShowAdvanced" class="btn btn-primary disabled" value="On the go" />

                <div ng-show="ShowAdvanced">
                    <br />
                    <label>
                        <input type="checkbox" class="btn btn-warning" ng-click="AddRecurring()" value="Recurring" />Recurring
                    </label>
                    <br />
                    <label>
                        Date
                        <input type="date" ng-model="Date" />
                    </label>
                    <label>
                        Time
                        <input type="time" ng-model="Time" />
                    </label>
                    <div ng-show="ShowRecurring">
                        <label class="radio-inline">
                            <input type="radio" ng-model="Period" name="recurrenceOption" value="Day" />Daily
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="Period" name="recurrenceOption" value="Week" />Weekly
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="Period" name="recurrenceOption" value="Month" />Monthly
                        </label>
                        <input type="text" placeholder="Frequency" ng-model="Frequency" />
                        <p>Event will occur {{Frequency}} times each {{Period}}</p>
                    </div>
                    <input type="submit" ng-click="AddRecurringTask()" value="Add" />
                </div>

                @*Loopar ut tasks*@
                <br /><br /><br />
                <br /><br />
                <h1>All Tasks</h1>
                <br />
                <table class="table" style="background-color:white;width:300px">
                    <tr ng-repeat="task in tasks">
                        <td>
                            <table width="220">
                                <tr>
                                    <td>
                                        {{task.Name}}
                                    </td>
                                    <td align="right">
                                        {{task.Type}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align="right" valign="middle">
                            <input type="submit" ng-click="EditTask(task, $index)" class="btn btn-xs btn-primary" value="Edit" />
                            <input type="submit" ng-click="RemoveTask(task, $index)" class="btn btn-xs btn-danger" value="Remove" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <br /><h1>Schedule</h1><br />
                <label>From</label>
                <input type="date" ng-model="From" min="@DateTime.Today.ToShortDateString()" value="@DateTime.Today.ToShortDateString()" />
                <br />
                <br />
                <label>To</label>
                <input type="date" ng-model="To" min="@DateTime.Today.AddDays(1).ToShortDateString()" value="@DateTime.Today.AddDays(7).ToShortDateString()" />
                <br />
                <br />
                <input type="submit" ng-click="GenerateSchedule()" class="btn btn-primary btn-lg" value="Make my schedule" />
                @*My Schedule*@
                <div>
                    <br />
                    <h1>My Schedule</h1>
                    <table class="table table-striped" style="background-color:white; width:300px">
                        @foreach (var scheduledTask in Model.ScheduledTasks)
                        {
                            <tr>
                                <td align="center">
                                    <h4>@scheduledTask.Date.ToShortDateString() - @scheduledTask.Date.DayOfWeek</h4>
                                    @foreach (var task in scheduledTask.Tasks)
                                    {
                                        <table width="230">
                                            <tr>
                                                <td>
                                                    <p>@task.Name - @task.Hours h</p>
                                                </td>
                                                <td align="right">
                                                    <input type="button" ng-click="CompleteTask(scheduledTask)" value="Complete" class="btn btn-xs btn-success" />
                                                    <input type="button" ng-click="Lock(scheduledTask)" value="Lock" class="btn btn-xs btn-default" />
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <br />
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    <br />
    <br />
    <br />
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}